*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #7e7e7e;
}

.QuizApp{
    text-align: center;
    margin-top: 40px;
}

.QuizApp .question-card{
    width: 70%;
    height: auto;
    margin: 40px auto;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    box-shadow:  2px 3px 10px rgb(0,0,0.4);
    border: 1px solid white;

}
.QuizApp .question-card ul{
    list-style: none;
}
.QuizApp .question-card ul li{
    color: white;
    background-color: darkgray;
    padding: 15px;
    border: 1px solid white;
    border-radius:20px;
    margin-top: 8px;
}
.QuizApp .question-card ul li:hover{
    background-color: #32ebff;
    color: black;
}

.QuizApp .final-result{
    width: 50%;
    height: auto;
    margin: 40px auto;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    box-shadow:  2px 3px 10px rgb(0,0,0.4);
    border: 1px solid white;
}

.BMI{
    width: 70%;
    height: auto;
    margin: 40px auto;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    box-shadow:  2px 3px 10px rgb(0,0,0.4);
    border: 1px solid white;
}

form .success{
    width: 70%;
    
    padding: 30px;
    margin: auto;
}
/* Todo Styling CSS  */

.homeTodo{
    background-color: #4535aa;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.homeTodo h1{
    color: #ffffff;
}
.homeTodo .todoSection{
    background-color: #d6d1f5 ;
   border-radius: 10px;
    padding: 20px 20px;
    color: #fff;
    width: 60%;
    height: 80vh;
    overflow-y: scroll;
}
.homeTodo .todoSection .content{
    background-color: #161133 ;
    padding: 5px 10px;
    margin:10px 0;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.homeTodo .todoSection .content:hover{
    background-color:#2c226f ;
    transition: .2s all ease-out;
}

/* add todo  */
.form{
    width: 50%;
    padding: .6rem;
    border-radius: .6rem;
    margin-bottom: .5rem;
    color: #fff;
}

.form .form-field{
    margin: 1rem 0;
    display: flex;
}
.form .form-field label{
    flex-basis: 20%;
}
.form .form-field input{
    flex-basis: 80%;
}
.form .form-field textarea{
    flex-basis: 80%;
    resize: none;
    border-radius: .6rem;
    padding: .2rem;
    border: none;
}
.form button{
    padding: .5rem;
    border-radius: .5rem;
}
/* CV Css style  */
.myCV{
    position: relative;
    margin: 20px auto;
    width: 8.3in;
    height: 11.7in;
    border: 1px solid black;
    box-shadow: 1px 1px 14px black;
}

.myCV .dragImage{
   
    /* background: url(img/5608.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    position: absolute;
    overflow:hidden;
    top: 15px;
    right: 15px;
    height: 150px;
    width: 135px;
    border: 1px solid black;
}

.myCV .dragImage img{
    width: 100%;
    height: 100%;
}